html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  color: #444;
}

main {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #444;
}

img {
  border-style: none;
  display: block;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

b,
strong {
  font-weight: bolder;
}

address {
  font-style: normal;
}
