@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500,700&display=swap');
@import url("reset.css");

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #222;
  z-index: 999;
  display: none;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
}


.site-header nav ul {
  background-color: transparent;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #fff;
}
.site-header nav li {
  border: 0;
  display: inline-block;
  margin-right: 2em;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 500;
}
.site-header nav li > a {
  color: #fff;
}
.header-logo img {
  width: 75px;
}

.section-home {
  position: relative;
}
.callout-section {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #231f20;
  color: #000;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}

.callout-section .mask {
  position: absolute;
  background-color: #111;
  z-index: 100;
  will-change: all;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.callout-section .mask.top {
  top: 0;
  height: 50%;
  width: 100%;
  animation-name: y-negative100;
}

.callout-section .mask.right {
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  animation-name: x-positive100;
}

.callout-section .mask.bottom {
  bottom: 0;
  width: 100%;
  height: 50%;
  animation-name: y-positive100;
}

.callout-section .mask.left {
  left: 0;
  height: 100%;
  width: 50%;
  animation-name: x-negative100;
}

.callout-section .callout-image {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sizer {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

/* .callout-section.animation-complete .callout-image img {
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
} */

.responsive-image.has-loaded .media {
  opacity: 1;
}

.callout-section .callout-image img {
  object-fit: cover;
}

.responsive-image .media {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 10s ease-in-out;
  transition: opacity 10s ease-in-out;
  z-index: 10;
}

@keyframes y-positive100 {
  0% {
    transform: translateY(0%);
  }

  20% {
    transform: translateY(0%);
  }

  40% {
    transform: translateY(48%);
  }

  90% {
    transform: translateY(48%);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes x-positive100 {
  0% {
    transform: translateX(0%);
  }

  20% {
    transform: translateX(1%);
  }

  60% {
    transform: translateX(1%);
  }

  90% {
    transform: translateX(60%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes y-negative100 {
  0% {
    transform: translateY(0%);
  }

  20% {
    transform: translateY(0%);
  }

  40% {
    transform: translateY(-48%);
  }

  90% {
    transform: translateY(-48%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes x-negative100 {
  0% {
    transform: translateX(-0%);
  }

  20% {
    transform: translateX(-1%);
  }

  60% {
    transform: translateX(-1%);
  }

  90% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.intro-logo {
  position: relative;
  /* width: 50%; */
  display: flex;
  z-index: 999;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  height: 100vh;
}

.intro-logo svg {
  width: 30%;
  margin: 0 auto;
}

#hfclogo > path {
  animation: SVGreFill 4s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#icon-h {
  fill: #444;
}

#icon-f {
  fill: #333;
}

#icon-c {
  fill: #222;
}

@keyframes SVGreFill {
  0% {
  fill: auto;
  }

  100% {
  fill: #fff;
  }
}

.intro-logo #hfcname {
  fill: #fefefe;
  opacity: 0;
  transition: fill 6s ease-in-out;
  font-size: 2em;
  animation: fadeUp 4s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}

.site-container {
  margin-top: 110vh;
  background-color: #fff;
  position: relative;
}

.media-container {
  overflow: hidden;
  background-color: #111;
}
.media-container .post-image {
  opacity: 0;
  transition: opacity 1s ease;
  will-change: opacity;
}
.media-container.is-visible .post-image {
  animation: fadeUp 1s ease-in-out;
  /* animation-delay: 1s; */
  animation-fill-mode: forwards;
}
.site-content .media-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.site-content .media-container:nth-child(even){
  flex-flow: row-reverse wrap;
}
.site-content .media-container .col {
  width: 50%;
}

.site-content h1 {
  color: #444;
  font-size: 3em;
  font-weight: 500;
  text-align: right;
  margin: 0;
  padding: 1em;
}
.media-container .post-details {
  position: relative;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: -webkit-box;
  align-items: center;
  text-align: center;
  transition: color .4s;
  padding-bottom: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
}
.media-container .post-details .title {
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 1em;
}
.media-container .post-details .topic {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
}
.media-container .post-details .view-post {
  margin-bottom: 1.5em;
}

.about-harlemfilmcompany {
  text-align: center;
  padding: 10%;
}
.about-harlemfilmcompany h2 {
  font-size: 4.25em;
  font-weight: 500;
  margin: 0;
}
.about-harlemfilmcompany p {
  font-size: 1.25em;
  letter-spacing: 0.1em;
  line-height: 2em;
}

.footer-wrapper {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  font-weight: 300;
  padding: 5%;
}
.footer-wrapper a, .footer-wrapper a:link {
  color: #fff;
}
.footer-wrapper .footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-wrapper p {
  margin: 0;
}

@media only screen and (max-height: 720px) and (min-width: 751px), only screen and (max-height: 1130px) and (max-width: 800px) {
  .site-container { margin-top: 0; }
  .section-home .callout-section {
    position: relative;
    min-height: 100vh;
    height: auto;
  }
  .site-content {
    margin-top: 0;
  }
}
@media only screen and (max-width: 720px) {
  .site-content .media-container,
  .footer-wrapper {
    flex-direction: column;
  }
  .site-content .media-container .col {
    width: 100%;
  }
  .site-content h1 {
    text-align: center;
  }
}
